.home{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    height:80vh
}
.ch1{
   margin-top:150px;
   margin-bottom: 0px;
   color: aliceblue;
}
 span{
    color: #0a77b3;
}
.myImage{
    margin-top: 100px; 
    height: 250px;
    width: 250px;
    object-fit: cover; 
    object-position: top;
     border-radius: 50%;
}
.resume{
    margin: auto;
    margin-top: 5%;
   text-decoration: none;
    color:  #0f0d0d;
    padding: 10px;
    background-color:  #B9AC94;
    border-radius: 20px;
    border: none;
}
.resume:hover{
    background-color: black;
    color: #B9AC94;
}
.homeContainer{
   height:100vh;
 background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);   
}
.main{
    height: 100vh;
    background: rgba(255,255,255,0.2);
}
.ch1 h2{
    font-size: 40px;
}
.resume a{
    text-decoration: none;
}
@media (max-width : 767px){
    .home{
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: auto;
        height:80vh  
      }
      .ch1{
        margin-top:80px;
        margin-bottom: 0px;
        color: aliceblue;
     }
     .ch1 p{
        display: none;
     }
    
}